body {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: 5vh 0 1rem 0;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      .build {
        display: flex;
        border: 1px solid #9eb8d9;
        border-radius: 8px;
        width: 50vw;
        padding: 0.2rem 0.5rem;
        margin-top: 1rem;

        .link {
          text-decoration: none;
          flex: 3 1 20%;
          font-size: 1.4rem;
        }
        .address {
          flex: 6 1 30%;
          font-size: 1.2rem;
        }

        .iconBar {
          flex: 1 1 15%;
          display: flex;
          justify-content: space-between;
          a {
            text-decoration: none;
            .edit {
              font-size: 1.5rem;
            }

            &:hover {
              cursor: pointer;
            }
          }

          button {
            border: none;
            background-color: #eef5ff;

            .delete,
            .edit {
              font-size: 1.5rem;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .roomList {
        display: flex;
        flex-direction: column;
        border: 1px solid #9eb8d9;
        border-radius: 8px;
        width: 45vw;
        padding: 0.2rem 0.5rem;
        margin-top: 0.5rem;

        .room {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #ddd;
          margin-top: 0.5rem;
          padding-bottom: 0.5rem;

          p {
            flex: 2 1 30%;
            font-size: 1.3rem;
          }
          .iconBar {
            flex: 1 1 20%;
            display: flex;
            justify-content: space-between;
            .edit {
              text-decoration: none;
              color: #a25772;
              border: 1px solid #a25772;
              border-radius: 8px;
              font-size: 1rem;
              padding: 0.2rem 0.4rem;

              transition: 0.3s ease;

              &:hover {
                cursor: pointer;
                background-color: #a25772;
                color: #eef5ff;
              }
            }

            button {
              border: none;
              background-color: #eef5ff;
              color: #00337c;
              border: 1px solid #00337c;
              border-radius: 8px;
              font-size: 1rem;
              padding: 0.2rem 0.4rem;

              &:hover {
                cursor: pointer;
                background-color: #00337c;
                color: #eef5ff;
              }
            }
          }
        }
        .add {
          align-self: center;
          text-decoration: none;
          font-size: 1rem;
          color: #00337c;
          border: 1px solid #00337c;
          border-radius: 8px;
          padding: 0.2rem 0.5rem;
          margin: 0.5rem 0;
          transition: 0.3s ease;

          &:hover {
            cursor: pointer;
            background-color: #00337c;
            color: #9eb8d9;
          }

          .addIcon {
            margin-right: 0.2rem;
          }
        }
      }
    }
  }
  .linkBar {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    .homeLink,
    .createLink {
      text-decoration: none;
      font-size: 1.3rem;
      color: #00337c;
      border: 1px solid #00337c;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      margin: 0.5rem 0;
      transition: 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: #00337c;
        color: #9eb8d9;
      }

      .icon {
        margin-right: 0.5rem;
      }
    }
  }
}
