<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8" />
<title>市町村のデータ</title>
<link rel="stylesheet" th:href="@{/style/muniStyle.css}" />
</head>

<body>
	<div class="title">
		<span th:text="${pref}"></span> <span>の市町村データ</span>
	</div>

	<div class="box">
		<div th:each="item:${muniData}" class="muni">
			<p th:text="${item}"></p>
		</div>
	</div>

	<div class="linkBox">
		<a href="/region">前のページ</a> <a href="/">ホーム</a>
	</div>
	
	<img th:src="@{/images/searchMuni.jpg}" alt="background"/>
</body>
</html>
